form {
    margin-left: 23%;
    margin-top: 3%;
    width: 20%;
    float: left;
    clear: none;
}

h2 {
    margin-left: 15%;
}

.form-output {
    margin-top: 10%;
    margin-left: 5%;
    width: 20%;
}

label {
    margin-left: 10%;
}

.user-input {
    height: 25px;
    border: 1px solid black;
    margin: 2px;
    width: 95%;
    clear: both;

}

.user-output {
    margin-left: 10%;
    font-size: 20px;
}

.user-output-number {
    color: green;
}

.button-do-it {
    width: 80px;
    height: 40px;
    margin-left: 18%;
    background-color: transparent;
    border: 3px solid forestgreen;
    border-radius: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: forestgreen;
}

.button-do-it:hover {
    box-shadow: 0 0 10px 0 forestgreen inset, 0 0 20px 2px forestgreen;
    border: 3px solid forestgreen;
}


.button-clear {
    width: 80px;
    height: 40px;
    margin-left: 2%;
    border-radius: 4px;
    background-color: #F4F200;
    background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%);
    background-image: -webkit-linear-gradient(top, #fff 0%, #F4F200 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #F4F200 100%);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 0;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.button-clear:hover {
    background-position: -200%;
    transition: background 300ms ease-in-out;
}