form {
    margin-left: 30%;
    margin-top: 3%;
    width: 30%;

}

.button {
    height: 60px;
    width: 200px;
    margin-left: 27%;
    margin-right: 27%;
}

.button:hover {
    background-color: lightcoral;
}

.top-text {
    text-align: center;
}

.button-back {
    width: 100px;
    height: 50px;
    margin-left: -85%;
    margin-top: 2px;
    background-color: lightblue;
}

.button-back-credit {
    width: 100px;
    height: 50px;
    margin-left: -60%;
    margin-top: 2px;
    background-color: lightblue;}

.button-back:hover {
    background-color: red;
}

.button-back-credit:hover {
    background-color: red;
}