form {
    margin-left: 30%;
    margin-top: 3%;
    width: 30%;

}

.button {
    height: 60px;
    width: 200px;
    margin-left: 27%;
    margin-right: 27%;
}

.button:hover {
    background-color: lightgreen;
}

.top-text {
    text-align: center;
}