form {
    margin-left: 30%;
    margin-top: 3%;
    width: 30%;

}

.button {
    height: 70px;
    width: 220px;
    margin-left: 25%;
    margin-right: 27%;
    background-color: transparent;
    border: 3px solid lightgreen;
    transition: .3s;
    font-size: 20px;
    border-radius: 4px;
}

.button:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}

.top-text {
    text-align: center;
}

.button-back {
    width: 100px;
    height: 50px;
    margin-left: -85%;
    margin-top: 2px;
    background-color: lightblue;
    border-radius: 15px;
}

.button-back-credit {
    width: 100px;
    height: 50px;
    margin-left: -60%;
    margin-top: 2px;
    background-color: lightblue;
    border-radius: 15px;

}

.button-back:hover {
    background-color: red;

}

.button-back-credit:hover {
    background-color: red;
}