<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Credit</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css">


</head>
<body>
<div class="div-header">
    <th:block th:include="/header"></th:block>
</div>


<div class="">
    <form action="#" th:action="@{/credit}" th:object="${credit}" method="POST">
        <h2 class="">In order to know your </h2>
        <h2>credit sum and result,</h2>
        <h2> fill all fields below:</h2>

        <label>Name</label>
        <input class="user-input" type="text" th:field="*{name}" required/>
        <br>

        <label>Sex</label>
        <select th:field="*{sex}" class="user-input">
            <option th:value="'MALE'" th:text="MALE"></option>
            <option th:value="'FEMALE'" th:text="FEMALE"></option>
            <option th:value="'NONE'" th:text="NONE"></option>

        </select>
        <br>


        <label>Employed</label>

        <select th:field="*{employed}" class="user-input">
            <option th:value="'YES'" th:text="YES"></option>
            <option th:value="'NO'" th:text="NO"></option>

        </select>
        <br>


        <label>Conviction</label>

        <select th:field="*{conviction}" class="user-input">
            <option th:value="'YES'" th:text="YES"></option>
            <option th:value="'NO'" th:text="NO"></option>


        </select>
        <br>


        <label>Married</label>
        <select th:field="*{married}" class="user-input">
            <option th:value="'YES'" th:text="YES"></option>
            <option th:value="'NO'" th:text="NO"></option>

        </select>
        <br>


        <label>Age</label>
        <input class="user-input" pattern="[0-9]+" type="text" th:field="*{age}" required/>
        <br>

        <label>Sum</label>
        <input class="user-input" pattern="[0-9]+" type="text" th:field="*{sum}" required/>
        <br>

        <label>Salary</label>
        <input class="user-input" pattern="[0-9]+" type="text" th:field="*{salary}" required/>
        <br>

        <label>Period</label>
        <input class="user-input" pattern="[0-9]+" type="text" th:field="*{period}" required/>
        <br>


        <input type="submit" class=" button-do-it" name="calculate" value="DO IT"/>

        <input type="submit" class="button-clear" name="clear" value="Clear"/>

    </form>

    <br>

    <form class="form-output">
        <p class="user-output" th:text="'Your month payment: '"></p>
        <p class="user-output user-output-number" th:text=" ${monthPayment}"></p>

        <p class="user-output" th:text="'Your total credit sum(with percents): '"></p>
        <p class="user-output user-output-number" th:text=" ${creditSum}"></p>

        <p class="user-output" th:text="'Percents from your sum: '"></p>
        <p class="user-output user-output-number" th:text=" ${percentsFromSum}"></p>

        <p class="user-output" th:text="'Year percents for your credit: '"></p>
        <p class="user-output user-output-number" th:text=" ${percents}"></p>


    </form>

</div>
</body>
</html>