<link rel="stylesheet" type="text/css" href="/css/header.css">


<header>

    <a href="/deposit"  ><input type="button" class=" buttons" value="Deposit"/></a>
    <a href="/credit" ><input type="button" class="buttons " value="Credit"/></a>
    <a href="/car" ><input type="button" class="buttons " value="Car insurance"/></a>
    <a href="/life" ><input type="button" class="buttons " value="Life insurance"/></a>
    <a href="/house" ><input type="button" class="buttons " value="House insurance"/></a>

</header>