<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money Calculator</title>
</head>
<body>

    <table>
        <h3 class=""> Hello and welcome! Choose what you are interested in:</h3>
        <p> <a href="/deposit" ><input type="button" class="" value=" Put a deposit"/></a></p>
        <p>  <a href="/credit" ><input type="button" class="" value="Take a credit"/></a></p>
        <p> <a href="/car" ><input type="button" class="" value=" Car insurance"/></a></p>
        <p> <a href="/house" ><input type="button" class="" value=" Home insurance(under development)"/></a></p>
        <p> <a href="/life" ><input type="button" class="" value="Life insurance(under development)"/></a></p>


    </table>
</body>
</html>