<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link rel="stylesheet" type="text/css" href="/css/deposit.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">


</head>
<body>
<div class="div-header">
    <th:block th:include="/header"></th:block>
</div>

<div class="">
    <form action="#" th:action="@{/deposit}" th:object="${deposit}" method="POST">
        <h2 class="">Please fill all the fields</h2>
        <h2 class="">if you want to place a </h2>
        <h2 class="">deposit in our bank:</h2>



        <label>Sum</label>
        <input class="user-input" type="text" pattern="[0-9]+" th:field="*{sum}" required/>
        <br>
        <label>Time in months</label>
        <input class="user-input" type="text" pattern="[0-9]+" th:field="*{period}" required/>


        <input type="submit" class="button-do-it" name="calculate" value="DO IT"/>

        <input type="submit" class="button-clear" name="clear" value="Clear"/>
    </form>
        <form class="form-output">
        <p class="user-output" th:text="'Percents based on time of your deposit: '"></p>
        <p class="user-output user-output-number" th:text=" ${percentsBasedOnMonths}"></p>

        <p class="user-output" th:text="'Percent money from your sum: '"></p>
        <p class="user-output user-output-number" th:text=" ${percentsFromSum}"></p>

        <p class="user-output" th:text="'Your deposit+percents: '"></p>
        <p class="user-output user-output-number" th:text=" ${result}"></p>


    </form>
</div>

</body>
</html>